<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

	<md-sidenav #sidenav mode="side" class="app-sidenav">
		
	</md-sidenav>

	<md-toolbar color="primary">
		<button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button> Orient Motor Claims

		<!-- <span class="app-toolbar-filler"></span>
		<button md-button (click)="isDarkTheme = !isDarkTheme">TOGGLE DARK THEME</button> -->
	</md-toolbar>

	<div class="app-content">
		<md-card class="demo-card demo-basic">
			<md-card>
				<md-input (blur)= "getpolicyDetails($event)" [(ngModel)]="policy.PolicyNo" [ngModelOptions]="{standalone: true}">
					<md-placeholder>
						<span md-prefix>
          				<i class="material-icons app-input-icon">search</i> Policy No.
          				&nbsp;
        				</span>
					</md-placeholder>
				</md-input>
			</md-card>
			<md-card class="app-input-section">
				<md-card-title>Vehicle Details</md-card-title>
				<md-input [(ngModel)]="policy.RegNo" [ngModelOptions]="{standalone: true}"  placeholder="Vehicle Regn.No.">
				</md-input>

				<md-input [(ngModel)]="policy.Make" [ngModelOptions]="{standalone: true}"  placeholder="Vehicle Make" maxlength="50">
				</md-input>

				<md-input [(ngModel)]="policy.Year" [ngModelOptions]="{standalone: true}"  >
					<md-placeholder>
						Year
					</md-placeholder>
				</md-input>
			</md-card>
			
			<md-card class="app-input-section">
				<md-card-title>Insured Details</md-card-title>
				<md-input  [(ngModel)]="policy.InsuredName" [ngModelOptions]="{standalone: true}"  placeholder="Name Of Insured"></md-input>

				<md-input [(ngModel)]="policy.Email" [ngModelOptions]="{standalone: true}"  placeholder="E-mail Address" maxlength="50">
				</md-input>

				<md-input  [(ngModel)]="policy.PhoneNo" [ngModelOptions]="{standalone: true}" >
					<md-placeholder>
						<i class="material-icons app-input-icon">android</i> Telephone No.
					</md-placeholder>
				</md-input>
			</md-card>
			<md-card class="app-input-section">
				<md-card-title>Driver Details</md-card-title>
				<md-input placeholder="Name of Driver at the time of the accident" style="width:50%"
				[(ngModel)]="intimation.DriverName" [ngModelOptions]="{standalone: true}"  ></md-input>

				<md-input [(ngModel)]="intimation.DriverDOB" [ngModelOptions]="{standalone: true}" type="date" placeholder="Date of birth of the Driver" maxlength="50" style="width:50%">
				</md-input>
				<div>
					Was he driving with Insured's permission
					<md-radio-group [(ngModel)]="intimation.permission" [ngModelOptions]="{standalone: true}">
						<md-radio-button value="Yes" class="md-primary">Yes</md-radio-button>
						<md-radio-button value="No" class="md-warn">No</md-radio-button>
					</md-radio-group>
				</div>
			</md-card>
			<md-card>
				<md-card-title>Loss Details</md-card-title>
				<md-input [(ngModel)]="intimation.Damage" [ngModelOptions]="{standalone: true}" id="InsuredVehicleDamageDetails" placeholder="Details of Damage to Insured vehicle" style="width:100%"></md-input><br>
				<md-input [(ngModel)]="intimation.DamageTP" [ngModelOptions]="{standalone: true}" placeholder="Details of Damage to Third Party vehicle other Property: If any" style="width:100%"></md-input><br>
				<md-input [(ngModel)]="intimation.InsuranceComTP" [ngModelOptions]="{standalone: true}" placeholder="Name of Insurance Company conveing Third Party Vehicle If known" style="width:100%"></md-input><br>
				<md-input [(ngModel)]="intimation.Injury" [ngModelOptions]="{standalone: true}" placeholder="Bodily Injuryto any Third Party/Passenger If any" style="width:100%"></md-input><br>
				<md-input [(ngModel)]="intimation.Place" [ngModelOptions]="{standalone: true}" placeholder="Place" style="width:50%"></md-input><br>
				<md-input [(ngModel)]="intimation.loss_date" [ngModelOptions]="{standalone: true}" type="date" placeholder="Date" style="width:50%"></md-input><br>
				<md-checkbox [checked]="true">
					I/We declare that the statements given above are true and that I/We not withheld any informayion related to this accident.I/We
					also afirm that the happening was unintentional.
				</md-checkbox>
				<md-card-actions>
					<button md-raised-button color="primary" class="md-raised" (click)="submit()">Submit</button>
					<button md-raised-button class="md-raised">Cancel</button>
				</md-card-actions>
			</md-card>
		</md-card>
	</div>
</md-sidenav-layout>
<span class="app-action" [class.m2app-dark]="isDarkTheme">
</span>